<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.34.2" targetFramework="net46" userInstalled="true" />
  <package id="FastMember" version="1.0.0.11" targetFramework="net46" />
  <package id="Jil" version="2.12.0" targetFramework="net46" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net46" />
  <package id="NUnit" version="2.6.4" targetFramework="net46" userInstalled="true" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
  <package id="Sigil" version="4.5.0" targetFramework="net46" />
  <package id="Ssn.TestUtils" version="0.0.2" targetFramework="net46" />
  <package id="Ssn.Utils" version="2.0.0" targetFramework="net46" />
</packages>